.welcome-to-Delani{
    background:linear-gradient( rgba(0,0,0,0.4),rgba(0,0,0,0.4) ),url(../images/stairs.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding: 300px 0 35px;
    color: white;
    text-align: center;
}
#mouseclick{
    padding: 120px 0 0 0;
}
.about-us{
    text-align: center;
}
.services{
    background:linear-gradient( rgba(0,0,0,0.4),rgba(0,0,0,0.4) ),url(../images/keyboard.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px;
}
.what-we-do{
    text-align: center;
}
.icons{
    display: flex;
    justify-content: space-around;
}
.portfolio{
    padding: 50px;
    text-align: center;
}
.portfolio img{
    height: 35vh;
    margin: 15px;
}



.contact-us{
    padding: 50px;
    background:linear-gradient( rgba(0,0,0,0.4),rgba(0,0,0,0.4) ),url(../images/workshop.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    color: white;
    text-align: center;
}
.credentials-input input{
    background: none;
    margin: 20px;
    width: 500px;
    height: 30px;
    border: solid gray;
    color: white;
}
.message-input textarea{
    background: none;
    margin: 20px;
    width: 1055px;
    border: solid gray;
    color: white;
}
.social-media{
    text-align: center;
}
.social-media img{
    margin: 20px;
}